
.categories{
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.categories ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.categories ul li{
    float: left;
    padding: 8px 25px;
    border-radius: 20px;
    border: 1px solid blue;
    margin: 10px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    background-color:white;
    color:blue;
}

.categories ul li:hover{
    background-color: blue;
    color:white;
}

