
.categories{

    ul{
        margin: 0;
        padding: 0;
        list-style: none;
        width: 100%;
        display: flex;
        justify-content: space-between;

        li{
            float: left;
            padding: 5px 25px;
            border-radius: 20px;
            border: 1px solid $border-gray;
            margin: 10px;
            cursor: pointer;
            transition: all 0.5s ease-in-out;
            background-color:white;
            color:$dark-red;
            text-transform: uppercase;

            &:hover{
                @extend .selectedCategory;
            }

        }

    }

    .selectedCategory{
        border:1px solid $dark-red;
    }

}

